<div id="header">
  <%= link_to root_path do %>
    <div class="logo"> <%= image_tag "Logo.png" %> </div>
  <% end %>

  <div class="leftMenu">
    <ul>
      <li>
        <%= link_to "Pesquisar", products_path, class: "dropdown" %>
      </li>
      <li>
        <%= link_to "Minhas Figurinhas", my_stickers_products_path, class: "categorias" %>
      </li>
      <li>
        <%= link_to "Adicionar Sticker", new_product_path, class: "add-sticker" %>
      </li>
    </ul>
  </div>

  <div class="rightMenu">
    <ul>
        <% if user_signed_in? %>
          <li class="user">
            <%= link_to "Hi, #{current_user.email}", edit_user_registration_path, class: 'nav-link' %>
            <%# <%= current_user.first_name + " " + current_user.last_name %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
        <% else %>
            <li>
              <%= link_to "Sign In", new_user_session_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
        <% end %>
      </div>
    </ul>
  </div>

</div>
