 <div class="row">
  <div class='container col-4 grid-product text-center mb-3'>
      <%= image_tag "neymar.webp", alt: "stickers", class: "mx-auto" %>
      <div class="grid-detail">
        <p><strong>Category: <%= @product.category %></strong></p>
        <p><strong>Title: <%= @product.title %></strong></p>
        <p><strong>Sticker: <%= @product.sticker %></strong></p>
        <p><small><em>User: <%= @product.user.first_name  %> <%= @product.user.last_name  %></em></small></p>
      </div>
  </div>

  <div class="container col-6 w-50 formulario" style="max-height: 300px; margin-top: auto; margin-bottom: auto">
    <div class="row w-100 justify-content-center">
      <div class="col-xs-12 col-sm-10 col-md-8 ">
        <div class='mt-5'>
          <%= simple_form_for [@product, @order] do |f| %>

            <%= f.input :my_stickers_id, label: "Selecione sua Figurinha", collection: @current_user_product %>
            <%= f.submit "Trocar", class:'btn btn-outline-dark' %>
            <%= link_to 'Cancelar', products_path, class: 'btn btn-outline-dark' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
