<div class='container'>
  <div class="col-4 grid-product mb-3">
    <%= image_tag "neymar.webp", alt: "stickers" %>
    <div class="grid-detail">
      <p><strong>Category: <%= @product.category %></strong></p>
      <p><strong>Title: <%= @product.title %></strong></p>
      <p><strong>Sticker: <%= @product.sticker %></strong></p>
      <p><small><em>User: <%= @product.user.first_name  %> <%= @product.user.last_name  %></em></small></p>
    </div>
  </div>
</div>

<div class='mt-5'>
  <%= simple_form_for [@product, @order] do |f| %>

    <%= f.input :my_stickers_id, label: "Selecione sua Figurinha", collection: @current_user_product %>
    <%= f.submit "Trade", class:'btn btn-outline-dark' %>
    <%= link_to 'Cancel', products_path, class: 'btn btn-outline-dark' %>
  <% end %>
</div>
