<div id="header">
  <%= link_to root_path do %>
    <div class="logo"> <%= image_tag "Logo.png" %> </div>
  <% end %>

  <div class="leftMenu">
    <ul>
      <li>
        <%= link_to "Pesquisar", products_path, class: "dropdown" %>
      </li>
      <li>
        <%= link_to "Categorias", products_path, class: "categorias" %>
      </li>
      <li>
        <%= link_to "Adicionar Sticker", products_path, class: "add-sticker" %>
      </li>
    </ul>
  </div>

  <div class="rightMenu">
    <ul>
        <% if user_signed_in? %>
          <li class="user">
            <%= current_user.first_name + " " + current_user.last_name %>
          </li>
          <li>
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </li>
        <% else %>
            <li>
              <%= link_to "Login", new_user_session_path, class: "nav-link" %>
            </li>
        <% end %>
      </div>
    </ul>
  </div>

</div>

<div id="largeImage" class="d-flex justify-content-between align-items-center">
  <div class="description-box">
    <h1> Troque suas figurinhas com outros colecionadores agora!</h1>
    <h3>Todas as figurinhas que faltam para completar o seu algum de figuinhas você encontra aqui!</h3>
    <%= link_to "STICKERS!", products_path, class: "button1" %>
  </div>
  <div class="big">
    <%= image_tag "img_homepage.png", alt: "stickers" %>
  </div>
</div>

<section class="fig_pic">
  <div class="container">
    <h2 class="h2-home">Figurinhas</h2>
    <div class="grid">
      <div class="grid-product">
        <%= link_to products_path do %>
          <%= image_tag "hakimi.jpg", alt: "stickers" %>
        <% end %>
      </div>

      <div class="grid-product">
        <%= link_to products_path do %>
          <%= image_tag "mbappe.jpg", alt: "stickers" %>
        <% end %>
      </div>

      <div class="grid-product">
        <%= link_to products_path do %>
          <%= image_tag "phil.jpg", alt: "stickers" %>
        <% end %>
      </div>
    </div>
  </div>
</section>

<div class="gallery mt-5">
  <span style="--i:1">
     <%= image_tag "brazil.jpg", alt: "stickers" %>
  </span>
    <span style="--i:2">
     <%= image_tag "tarca.png", alt: "stickers" %>
  </span>
  <span style="--i:3">
      <%= image_tag "boll.jpg", alt: "stickers" %>
  </span>
  <span style="--i:4">
      <%= image_tag "qatar.stadium.png", alt: "stickers" %>
  </span>
    <span style="--i:5">
      <%= image_tag "ney.jpg", alt: "stickers" %>
  </span>
    <span style="--i:6">
      <%= image_tag "stadium.png", alt: "stickers" %>
  </span>
    <span style="--i:7">
      <%= image_tag "team.png", alt: "stickers" %>
  </span>
    <span style="--i:8">
      <%= image_tag "slog.jpg", alt: "stickers" %>
  </span>
</div>
