<div class="container">
  <h2 class="h2-home">FIGURINHAS</h2>
  <div class="row" style="width: 60rem;" >
    <% @products.each do |product| %>
      <div class="col-4 grid-product mb-3">
        <% if product.photo.present? %>
          <%= cl_image_tag(product.photo.key, width: 400, height: 300, crop: :fill) %>
        <% else %>
          <%= image_tag "neymar.webp", alt: "stickers" %>
        <% end %>
        <div class="grid-detail">
          <p><strong><%= product.category %></strong></p>
          <p><strong>Title: </strong><%= product.title  %></p>
          <p><strong>Sticker: </strong><%= product.sticker  %></p>
          <p><small><em>User: <%= product.user.first_name  %> <%= product.user.last_name  %></em></small></p>
          <p><%= link_to "Trocar", new_product_order_path(product), class: 'btn btn-outline-dark'%></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
