<div class="container">
  <h2><strong>MINHAS FIGURINHAS</strong></h2>
  <div class="row" style="width: 60rem;" >
      <p><%= link_to "Adicionar Sticker", new_product_path, class: 'btn btn-outline-dark' %></p>
    <% @products.each do |product| %>
      <div class="col-4 grid-product mb-3">

        <div class="card-sticker">
          <%= link_to product_path(product), class: "grid-detail" do %>
            <%= cl_image_tag(product.url) %>
            <div class="card-sticker-infos">
              <div>
                <h2><%= product.category %></h2>
                <p><strong>Title: <%= product.title %></strong></p>
                <p><strong>Sticker: <%= product.sticker %></strong></p>
                <p><small><strong><em>User: <%= product.user.first_name %> <%= product.user.last_name %></em></strong></small></p>
              </div>
              <div class='buttons d-flex justify-content-around align-items-baseline'>
                <%= link_to "Editar", edit_product_path(product), class: 'btn btn-outline-dark me-3'%>
                <div class= 'btn btn-outline-dark'><%= link_to '', product_path(product), class: "fa-solid fa-trash-can", data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this sticker?" } %></div>
              </div>
            </div>
          <% end %>
        </div>


      </div>
    <% end %>
  </div>
</div>
