<div class='container'>
  <div class="col-4 grid-product mb-3">
    <%= cl_image_tag(product.url, width: 340.157, height: 400.779, crop: :fill) %>
    <div class="grid-detail">
      <p><strong>Category: <%= @product.category %></strong></p>
      <p><strong>Title: <%= @product.title %></strong></p>
      <p><strong>Sticker: <%= @product.sticker %></strong></p>
      <p><small><em>User: <%= @product.user.first_name  %> <%= @product.user.last_name  %></em></small></p>
    </div>
  </div>
</div>
